<div *ngIf="allowDisplay" class="container w-50 p-5 quoteBlock">
    <blockquote class="mainColor">
        <i class="fa fa-quote-left fa-lg p-2 quoteText"></i>
            {{quote}}
        <i class="fa fa-quote-right fa-lg p-2 quoteText"></i> 
        
    </blockquote>
    <div class="mainColor">
        <span>-{{author}}</span>
    </div>
    <div class="d-flex  align-items-center icon-container ">
        <div class="d-flex p-2 w-50">
            <a href="{{twitterShare}}" class="btn ms-1 social-icon flex-sm-fill"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="{{tumblarShare}}" class="btn ms-2 social-icon flex-sm-fill" ><i class="fa fa-tumblr fa-2x"></i></a>
        </div>
        <div class="ms-auto p-2 .flex-sm-fill">
            <a href="" class="btn btn-newQuote" (click)="processNewQuote()">New Quote</a>
        </div>
    </div>
</div>


